<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Stamp Sales Management System</title>

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<!-- Our Custom CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style4.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/view.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
	
	<script th:src="@{/js/view.js}" src="/js/view.js"></script>
	<script th:src="@{/bootstrap/js/solid.js}" src="/bootstrap/js/solid.js"></script>
	<script th:src="@{/bootstrap/js/fontawesome.js}" src="/bootstrap/js/fontawesome.js"></script>
	<script th:src="@{/bootstrap/js/jquery-3.6.0.min.js}" src="/bootstrap/js/jquery-3.6.0.min.js"></script>
	<script th:src="@{/bootstrap/js/popper.min.js}" src="/bootstrap/js/popper.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="/bootstrap/js/bootstrap.min.js"></script>
	<script th:src="@{/js/backbuttondisable.js}" src="/js/backbuttondisable.js"></script>
	<script th:src="@{/js/datatables.min.js}" src="/js/datatables.min.js"></script>
	<script th:src="@{/js/dataTables.bootstrap4.min.js}" src="/js/dataTables.bootstrap4.min.js"></script>
	<script th:src="@{/js/fnSetFilteringEnterPress.js}" src="/js/fnSetFilteringEnterPress.js"></script>
	
</head>

<body>

	<div class="wrapper">
		<!-- Sidebar  -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>User: <span th:utext="${#request.userPrincipal.name}"></span></h3>
				<strong>Ad</strong>
			</div>

			
		<ul  class="list-unstyled components">
			<div th:each="menu : ${menuList}">
				<li><a th:if="${#request.userPrincipal != null}" th:href="@{${menu.listValue}}" th:text="${menu.listKey}"></a></li>
			</div>		
			</ul>

			
		</nav>

		<!-- Page Content  -->
		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fas fa-align-left"></i> <span>Menu</span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto"
						type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<i class="fas fa-align-justify"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							
							<li class="nav-item"><a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>

						<div id="form_container">

				<h1>
					<a></a>
				</h1>
				<h6 th:if="${message != null}" th:utext="${message}"
					style="color: red;"></h6>
				<h6 th:if="${success != null}" th:utext="${success}"
					style="color: green;"></h6>
				<form id="form_109776" class="appnitro" method="post"
					th:action="@{/admin/createNewUser}">
					<div class="form_description">
						<h2>Create New User</h2>
		</div>
		<br>
			<input type="hidden" id="activityType" name="activityType">
          <div class="form-group row">
            
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">User ID </label>
              <input type="text" class="form-control" id="userId" name="userId" placeholder="" required>
            </div>
            <div class="col-md-4">
            <label  class="description" style="font-size: 105%;">User Name </label>
              <input type="text" class="form-control" id="userName" name="userName" placeholder="" required>
            </div>
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">Mobile No</label>
              <input type="text" class="form-control" id="userMobile" name="userMobile" placeholder="" required>
            </div>
          </div>
          
          <div class="form-group row">
            
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">Email Address</label>
              <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="" required>
            </div>
            <div class="col-md-4">
            <label  class="description" style="font-size: 105%;">User Type </label>
            <select id="userType" name = "userType" class="form-control" required>
            	  <option value="">Select</option>
            	  <option value="O">Official</option>
				  <option value="C">Customer</option>
			</select>
            </div>
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">Father's Name</label>
              <input type="text" class="form-control" id="userFathersName" name="userFathersName" placeholder="" >
            </div>
          </div>
          
         <div class="form-group row">
            
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">Mother's Name</label>
              <input type="text" class="form-control" id="userMothersName" name="userMothersName" placeholder="" >
            </div>
            <div class="col-md-4">
            <label  class="description" style="font-size: 105%;">National ID Number </label>
             <input type="text" class="form-control" id="userNid" name="userNid" placeholder="" required>
            </div>
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">Selling Area</label>
            <!-- <select id="userSellingArea" class="form-control"  name="userSellingArea"  required>-->
            <select class="form-control input-sm addAutoComplete" id="userSellingArea" name="userSellingArea" required>
			        <option value="">Select Selling Area</option>
			        <option th:each="district : ${districtList}"
			                th:value="${district.listKey}"
			                th:text="${district.listValue}"></option>
			 </select>
            </div>
          </div>

 		<div class="form-group row">
            
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">License No </label>
              <input type="text" class="form-control" id="userLicenseNo" name="userLicenseNo" placeholder="" required>
            </div>
            <div class="col-md-4">
            <label  class="description" style="font-size: 105%;">License Issue Date </label>
              <input type="date" class="form-control" id="userLicenseIssueDate" name="userLicenseIssueDate" required>
            </div>
            <div class="col-md-4">
            <label class="description" style="font-size: 105%;">Bank Solvency</label>
              <input type="text" class="form-control" id="userBankSolvency" name="userBankSolvency" placeholder="">
            </div>
          </div>
          
           <div class="form-group row">
            
            <div class="col-md-6">
            <label class="description" style="font-size: 105%;">Permanent Address </label>
              <textarea  class="form-control" id="userPermanentAddress" name="userPermanentAddress" placeholder="Permanent Address"> </textarea>
            </div>
            <div class="col-md-6">
            <label  class="description" style="font-size: 105%;">Present Address </label>
             <textarea  class="form-control" id="userPresentAddress" name="userPresentAddress" placeholder="Present Address"> </textarea>
            </div>
          </div>
		
          <div class="form-group row">
          <div class="col-sm-4">
          <label  class="description" style="font-size: 105%;">User Status </label>
            <select id="userStatus" name = "userStatus" class="form-control" required>
            	  <option value="">Select</option>
            	  <option value="A">Active</option>
				  <option value="L">Locked</option>
				  <option value="D">Disabled</option>
				  <option value="C">Close</option>
			</select>
			
          </div>
            <div class="col-sm-4">
             <br>
              <button type="submit" class="btn btn-primary btn-block" id="ssmUserSave">Save</button>
            </div>
          </div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
			
			
		});
	</script>
</body>

</html>