<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Stamp Total Sales</title>

	<style>
.alert-box {
	padding: 4px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 1px;  
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}
</style>

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<!-- Our Custom CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style4.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/view.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/buttons.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/jquery-ui.css}" />
	
	<script th:src="@{/js/view.js}" src="/js/view.js"></script>
	<script th:src="@{/bootstrap/js/solid.js}" src="/bootstrap/js/solid.js"></script>
	<script th:src="@{/bootstrap/js/fontawesome.js}" src="/bootstrap/js/fontawesome.js"></script>
	<script th:src="@{/bootstrap/js/jquery-3.6.0.min.js}" src="/bootstrap/js/jquery-3.6.0.min.js"></script>
	<script th:src="@{/bootstrap/js/popper.min.js}" src="/bootstrap/js/popper.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="/bootstrap/js/bootstrap.min.js"></script>
	<script th:src="@{/js/backbuttondisable.js}" src="/js/backbuttondisable.js"></script>
	<script th:src="@{/js/datatables.min.js}" src="/js/datatables.min.js"></script>
	<script th:src="@{/js/dataTables.bootstrap4.min.js}" src="/js/dataTables.bootstrap4.min.js"></script>
	<script th:src="@{/js/fnSetFilteringEnterPress.js}" src="/js/fnSetFilteringEnterPress.js"></script>
	<script th:src="@{/bootstrap/js/dataTables.buttons.min.js}" src="/bootstrap/js/dataTables.buttons.min.js"></script>
	<script th:src="@{/bootstrap/js/jszip.min.js}" src="/bootstrap/js/jszip.min.js"></script>
	<script th:src="@{/bootstrap/js/pdfmake.min.js}" src="/bootstrap/js/pdfmake.min.js"></script>
	<script th:src="@{/bootstrap/js/vfs_fonts.js}" src="/bootstrap/js/vfs_fonts.js"></script>
	<script th:src="@{/bootstrap/js/buttons.html5.min.js}" src="/bootstrap/js/buttons.html5.min.js"></script>
	<script th:src="@{/bootstrap/js/jquery-ui.js}" src="/bootstrap/js/jquery-ui.js"></script>
	
</head>

<body>

	<div class="wrapper">
		<!-- Sidebar  -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>
					User: <span th:utext="${#request.userPrincipal.name}"></span>
				</h3>
				<strong>User</strong>
			</div>

		<ul  class="list-unstyled components">
			<div th:each="menu : ${menuList}">
				<li><a th:if="${#request.userPrincipal != null}" th:href="@{${menu.listValue}}" th:text="${menu.listKey}"></a></li>
			</div>		
			</ul>


		</nav>



		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fas fa-align-left"></i> <span>Menu</span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							
							<li class="nav-item"><a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
						</ul>
					</div>

				</div>
			</nav>
	<div class="container">
	
			<div class="alert-box success" id = "suc"></div>
			
			<div class="alert-box failure" id = "fal"></div>
			
			<h6 th:if="${message != null}" th:utext="${message}"
					style="color: red;"></h6>
				<h6 th:if="${success != null}" th:utext="${success}"
					style="color: green;"></h6>

		<hr>
		<div class="row">
				<div class="col-md-offset-0 col-md-12">
					<div class="container">
						<div class="table-responsive">
		        			<table id="paginatedTableForStampTotalSales" class=" display table table-bordered table-striped dt-responsive nowrap inline table-condensed">
					            <thead class="btn-info">
					                <tr>
					                	<th>SL No</th>
					                    <th>Category Name</th>
					                    <th>Total Sales Amount (BDT)</th>
					                </tr>
					            </thead>

		        		</table>
		       </div>
      

    		</div><!-- /.container -->
		</div>
	</div>
	
	</div>
	
		</div>
	</div>


	<script  th:src="@{/js/ss_total_sales_report.js}" src="/js/ss_total_sales_report.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>
	
	</script>
</body>

</html>