<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

  
   <a th:href="@{/userInfo}">User</a>
  
     | &nbsp;
  
   <a th:href="@{/admin}">Admin</a>
  
</div>