<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/w3.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>

	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	<!--===============================================================================================-->
</head>
<style>
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Raleway", sans-serif
	}

	.w3-bar .w3-button {
		padding: 16px;
	}
</style>

<body>

	<!-- Navbar (sit on top) -->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
			<!-- Right-sided navbar links -->
			<div class="w3-right w3-hide-small">

				<a href="/ssms/ssminventory/ssmInventoryDasboardListForJoypurhat" class="w3-bar-item w3-button btn btn-info"> Inventory Dashboard</a>
			</div>
		</div>
	</div>
	
	

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/stamp_sale_pic.jpg);">
					<span class="login100-form-title-1">Stamp Sales Management System</span>
					
				</div>

				<form class="login100-form validate-form" name='f' th:action="@{/j_spring_security_check}"
					method='POST'>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">User ID</span> <input class="input100" type="text" name="username"
							placeholder="Enter User ID"> <span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
						<span class="label-input100">Password</span> <input class="input100" type="password"
							name="password" placeholder="Enter password"> <span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">Login</button>
					</div>
					<!-- /login?error=true -->
					<div th:if="${#request.getParameter('error') == 'true'}"
						style="color: red; margin: 10px 0px;">
						Login Failed!!!<br /> Reason : UserID or password is not
						Correct

					</div>
					<h6 th:if="${message != null}" th:utext="${message}"
					style="color: red;"></h6>
				</form>
			</div>

		</div>
	</div>
	  
  <script  	th:src="@{/js/backbuttondisable.js}" src="/js/backbuttondisable.js"></script>
  
  <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  
  <script th:src="@{/vendor/animsition/js/animsition.min.js}" src="/vendor/animsition/js/animsition.min.js"></script>
  <script th:src="@{/vendor/bootstrap/js/popper.js}" src="/vendor/bootstrap/js/popper.js"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script th:src="@{/vendor/daterangepicker/moment.min.js}" src="/vendor/daterangepicker/moment.min.js"></script>
  <script th:src="@{/vendor/daterangepicker/daterangepicker.js}" src="/vendor/daterangepicker/daterangepicker.js"></script>
  <script th:src="@{/vendor/countdowntime/countdowntime.js}" src="/vendor/countdowntime/countdowntime.js"></script>
  <script th:src="@{/js/main.js}" src="/js/main.js"></script>




</body>


</html>