<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Debit and Credit Application</title>

	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
		integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!-- Our Custom CSS -->
	<link rel="stylesheet" href="/css/style4.css">
	<link rel="stylesheet" type="text/css" href="/css/view.css" media="all">
	<script type="text/javascript" src="/js/view.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script language="JavaScript" type="text/javascript" th:src="@{../js/backbuttondisable.js}"></script>
	<!-- Font Awesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
		integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
		crossorigin="anonymous"></script>

</head>

<body>

	<div class="wrapper">
		<!-- Sidebar  -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>User: <span th:utext="${#request.userPrincipal.name}"></span></h3>
				<strong>User</strong>
			</div>

			<ul class="list-unstyled components">
				<li class="active"><a th:if="${#request.userPrincipal != null}" th:href="@{/userInfo}"> UserInfo</a></li>
				<li><a th:if="${#request.userPrincipal != null}"
					th:href="@{/userInfo/openSavingsAccount}"> Open Customer
						Account </a></li>
				<li><li><a th:if="${#request.userPrincipal != null}"
					th:href="@{/userInfo/changePassword}">Change Password</a></li></li>
				<li><a th:if="${#request.userPrincipal != null}"
					th:href="@{/userInfo/depositMoney}">Deposit Money</a></li>
				<li><a th:if="${#request.userPrincipal != null}"
					th:href="@{/userInfo/withdrawMoney}">Withdraw Money</a></li>
				<li><a th:if="${#request.userPrincipal != null}"
					th:href="@{/userInfo/customerInformation}">Customer Information</a></li>
			</ul>
		</nav>

		<!-- Page Content  -->
		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fas fa-align-left"></i> <span>Menu</span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto"
						type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<i class="fas fa-align-justify"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							
							<li class="nav-item"><a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div id="form_container">

				<h1>
					<a></a>
				</h1>
				<h6 th:if="${message != null}" th:utext="${message}"
					style="color: red;"></h6>
				<h6 th:if="${success != null}" th:utext="${success}"
					style="color: green;"></h6>
				<form id="form_109776" class="appnitro" method="post"
					th:action="@{/userInfo/withdrawMoney}">
					<div class="form_description">
						<h2>Withdraw Money</h2>
					</div>
					<ul>

						<li id="li_2"><label class="description" for="element_8">Enter Account Number: </label>
							<div>
								<input id="element_2" name="accountNo"
									class="element text medium" type="text" maxlength="255"
									required />
							</div>

						<li id="li_10"><label class="description" for="element_10">Amount:
						</label>

							<div>
								<input id="element_6_1" name="amount"
									 value="" type="number" required>
							</div></li>
						<li class="buttons"><input type="hidden" name="form_id"
							value="109776" /> <input id="saveForm" class="button_text"
							type="submit" name="submit" value="Submit" /></li>
					</ul>
				</form>
			</div>
			
			
		</div>
	</div>

	<!-- jQuery CDN - Slim version (=without AJAX) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<!-- Popper.JS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
		integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
		crossorigin="anonymous"></script>
	<!-- Bootstrap JS -->
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
		integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>
</body>

</html>