<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Stamp Sales Management System</title>

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<!-- Our Custom CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style4.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/view.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
	
	<script th:src="@{/js/view.js}" src="/js/view.js"></script>
	<script th:src="@{/bootstrap/js/solid.js}" src="/bootstrap/js/solid.js"></script>
	<script th:src="@{/bootstrap/js/fontawesome.js}" src="/bootstrap/js/fontawesome.js"></script>
	<script th:src="@{/bootstrap/js/jquery-3.6.0.min.js}" src="/bootstrap/js/jquery-3.6.0.min.js"></script>
	<script th:src="@{/bootstrap/js/popper.min.js}" src="/bootstrap/js/popper.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="/bootstrap/js/bootstrap.min.js"></script>
	<script th:src="@{/js/backbuttondisable.js}" src="/js/backbuttondisable.js"></script>
	<script th:src="@{/js/datatables.min.js}" src="/js/datatables.min.js"></script>
	<script th:src="@{/js/dataTables.bootstrap4.min.js}" src="/js/dataTables.bootstrap4.min.js"></script>
	<script th:src="@{/js/fnSetFilteringEnterPress.js}" src="/js/fnSetFilteringEnterPress.js"></script>


</head>

<body>

	<div class="wrapper">
		<!-- Sidebar  -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>
					User: <span th:utext="${#request.userPrincipal.name}"></span>
				</h3>
				<strong>User</strong>
			</div>

			
		<ul  class="list-unstyled components">
			<div th:each="menu : ${menuList}">
				<li><a th:if="${#request.userPrincipal != null}" th:href="@{${menu.listValue}}" th:text="${menu.listKey}"></a></li>
			</div>		
			</ul>


		</nav>
		
		



		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fas fa-align-left"></i> <span>Menu</span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							
							<li class="nav-item"><a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
						</ul>
					</div>

				</div>
			</nav>
	<div class="container">
	
			<h6 th:if="${message != null}" th:utext="${message}"
					style="color: red;"></h6>
				<h6 th:if="${success != null}" th:utext="${success}"
					style="color: green;"></h6>
		<div class="row">
				<div class="col-12 col-sm-4">
                	<!-- Button trigger modal -->
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" id = "addNewSsmCategory">
   				 Add New Stamp Sales Category
  			</button>
            	</div>
		</div>
		
				 <!-- The Modal -->
  <div class="modal" id="ModalSsmCategory">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Stamp Sales Category</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         
           <div class="row row-content">
      <div id = "ssmCategoryDiv">
        <form method="post" th:action="@{/ssmcategory/ssmCategorySave}">
        
        <input type="hidden" id="activityType" name="activityType">
          <div class="form-group row">
            <label for="firstname" class="col-md-4 col-form-label" style="font-size: 105%;">Category ID </label>
            <div class="col-md-8">
              <input type="number" class="form-control" id="category_id" name="category_id" placeholder="Category ID">
            </div>
          </div>

          <div class="form-group row">
            <label for="lastname" class="col-md-4 col-form-label" style="font-size: 105%;">Category Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Category Name">
            </div>
          </div>
          
           <div class="form-group row">
            <label for="lastname" class="col-md-4 col-form-label" style="font-size: 105%;">Category Description</label>
            <div class="col-md-8">
             <textarea id="category_description" name= "category_description" class="form-control" placeholder="Category Description"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-md-1 col-md-11">
              <button type="submit" class="btn btn-info" id="ssmCategorySave">Save/Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>

         
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
         
         <hr>

		<div class="row">
				
				<div class="col-md-offset-0 col-md-12">
					<div class="container">
						<div class="table-responsive">
		        			<table id="paginatedTable" class=" display table table-bordered table-striped dt-responsive nowrap table-condensed">
					            <thead class="btn-info">
					                <tr>
					                    <th>Category ID</th>
										<th>Category Name</th>
										<th>Category Description</th>
										<th>Edit</th>
					                </tr>
					            </thead>

		        		</table>
		       </div>
      

    		</div><!-- /.container -->
		</div>
	</div>
	
	</div>
	
		


			
		</div>
	</div>


	<script th:src="@{/js/stampSalesCategory.js}" src="/js/stampSalesCategory.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>
</body>

</html>