<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Stamp Sales Management System</title>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<!-- Our Custom CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style4.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/view.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
	
	<script th:src="@{/js/view.js}" src="/js/view.js"></script>
	<script th:src="@{/bootstrap/js/solid.js}" src="/bootstrap/js/solid.js"></script>
	<script th:src="@{/bootstrap/js/fontawesome.js}" src="/bootstrap/js/fontawesome.js"></script>
	<script th:src="@{/bootstrap/js/jquery-3.6.0.min.js}" src="/bootstrap/js/jquery-3.6.0.min.js"></script>
	<script th:src="@{/bootstrap/js/popper.min.js}" src="/bootstrap/js/popper.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="/bootstrap/js/bootstrap.min.js"></script>
	<script th:src="@{/js/backbuttondisable.js}" src="/js/backbuttondisable.js"></script>
	<script th:src="@{/js/datatables.min.js}" src="/js/datatables.min.js"></script>
	<script th:src="@{/js/dataTables.bootstrap4.min.js}" src="/js/dataTables.bootstrap4.min.js"></script>
	<script th:src="@{/js/fnSetFilteringEnterPress.js}" src="/js/fnSetFilteringEnterPress.js"></script>


</head>

<body>

	<div class="wrapper">
		<!-- Sidebar  -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>User: <span th:utext="${#request.userPrincipal.name}"></span></h3>
				<strong>Ad</strong>
			</div>

			
		<ul  class="list-unstyled components">
			<div th:each="menu : ${menuList}">
				<li><a th:if="${#request.userPrincipal != null}" th:href="@{${menu.listValue}}" th:text="${menu.listKey}"></a></li>
			</div>		
			</ul>

			
		</nav>

		<!-- Page Content  -->
		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fas fa-align-left"></i> <span>Menu</span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto"
						type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<i class="fas fa-align-justify"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							
							<li class="nav-item"><a class="nav-link btn" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>

						<div id="form_container">

				<h1>
					<a></a>
				</h1>
				<h6 th:if="${message != null}" th:utext="${message}"
					style="color: red;"></h6>
				<h6 th:if="${success != null}" th:utext="${success}"
					style="color: green;"></h6>
					<form id="form_109776" class="appnitro" method="post"
					th:action="@{/userInfo/changePassword}">
					<div class="form_description" >
						<h2 th:utext = "${district}">Inventory DashBoard</h2>
					</div>
					<div class="form_description">
						
						<hr>
						<br>
						
						<table class="table table-bordered table-striped">
						
						<tr>
    						<th  class="btn-info">Category Name</th>
    						<th  class="btn-info">Remaining Stock</th>
  						</tr>
						
						<th:block th:each="inventoryDashboard : ${inventoryDashboardList}">
								<tr>
									<td th:text="${inventoryDashboard.listKey}"></td>
									<td th:text="${inventoryDashboard.listValue}"></td>
								</tr>
							</th:block>
						</table>
						</form>
		</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
			
			
		});
	</script>
</body>

</html>